# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
.env

# Node/Next.js
node_modules/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Data
data/sqlite/*.db
data/faiss/*.bin
data/uploads/*

# VSCode
.vscode/
